<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="topnav.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="notloggedalert.css">
    <link rel="stylesheet" href="content.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="topnav">
            <a class="active topnav-logo" href="#home">SH0P420</a>
            <div class="topnav-rightside">
                <form action="post" class="topnav-form">
                    <input class="topnav-searchinput" type="text" placeholder="Wyszukaj produkt...">
                </form>
                <a class="active" href="#profile">Profile</a> <!--Here will be the name of the user. Now, there is a palaceholder.-->
                <a class="active" href="#cart">Koszyk</a>
            </div>
        </section>
        <section class="notlogged-alert">
            <h3>Witaj w naszym sklepie! Pamiętaj, żeby się zalogować lub założyć konto.</h3>
        </section>
        <section class="content">

        </section>

    </main>
</body>
</html>